* {
  border: none;
  box-shadow: none;
  outline: none;
  /* padding: 5px; */
}

window {
  font-size: 14px;
  background-color: transparent;
  opacity: 1.0;
  /* padding: 10px 10px 10px 10px; */
  /* padding: 5px; */
}

#outer-box {
  /* margin: 780px 1765 780px 1765px; */
  opacity: 1.0;
  background: rgba(30, 30, 30, 0);
  border-radius: 5px;
}

#inner-box {
  background: rgba(0, 0, 0, 255);
  margin: 0px;
  opacity: 1.0;
}

#entry {
  padding: 5px 5px;
  background: rgba(0, 0, 0, 255);
}

#entry #text {
  padding: 0px 0px 0px 10px;
  font-weight: normal;
  /* color: grey; */
}

#entry:selected {
  /* background: rgba(0, 0, 0, 255); */
  background-color: rgba(100, 100, 100, 255);
}

#entry:selected #text {
  padding: 0px 0px 0px 10px;
  font-weight: normal;
  color: white;
}

#input {
  min-height: 0;
  min-width: 0;
  margin: 0;
  padding: 0;
  border: none;
  opacity: 0;
  background: transparent;
}

#image {
  /* margin-left: 20px; */
  /* margin-right: 20px; */
}

#scroll {
  border-radius: 5px;
  /* padding: 5px; */
  margin: 0px;
  background: rgba(255, 255, 255, 0);
}
